@import 'font-awesome-4.7.0/css/font-awesome.css';
header{
	text-align:center;
	padding:0.5em;
	height:2.4em;
}
header>div:hover{
	cursor:pointer;
}
.message{
	width:95%;
	border-radius:10px;
	margin:1em auto;
	padding:0.4em;
}
.message>p{
word-wrap: break-word;
}
.message > div >span:first-child{
	color:#5C685D;
}
.message > div >span:nth-child(2){
	color:#5C685D;
	float:right;
}
.message-sent{
	background-color: #CDE8CF;
}
.message-received{
background-color:#C3E8C8;
}
.message-admin{
	background-color:#C6FFFB;
}
.tab{
	float:left;
	background-color:#B6CEB8;
	padding: 0.5em 1em;
	border-radius:5px;
	margin-right:0.2em;
}
.tab.selected-tab{
	background-color:#B6FFB5;
}
.tab>i{
	position:relative;
	top:-0.4em;
	right:-0.8em;
	color:gray;
}
.tab>i:hover{
	color:red;
}
.tab>span:first-child
{
	font-style:italic;
}
.tab>span:nth-child(2)
{
	color:gray;
	border-right:1em;
}
#addTab{
	float:left;
	background-color:#C6FFFB;
	padding: 0.5em 1em;
	border-radius:5px;
	margin-right:0.2em;
}
.chat-text{
	bottom:200px;
	left:0px;
	right:0px;
	top:0px;
	position: absolute;
	overflow-y:auto;
}
.chat-write{
	bottom:0px;
	left:0px;
	right:0px;
	height: 160px;
	position: absolute;
	padding:20px;
}
.chat{
	top:2.3em;
	bottom:0px;
	width:1024px;
	background-color:#D8F5DA;
	border-radius:10px;
	position:absolute;
}
.chat-login{
	position:absolute;
	top:40%;
	left:35%;
	width:30%;
	background-color:#B6CEB8;
	padding:1em;
	border-radius:10px;
}
.send-message>p{
	position:relative;
	top:20%;
	left:30%;
}
.send-message{
	position:absolute;
	top:60px;
	bottom:60px;
	right:20px;
	width:100px;
	border-radius:10px;
	background-color:#C6FFFB;
}
.send-message:hover{
	cursor:pointer;
}
#login{
	float:none;
	margin-left:35%;
	border-radius:10px;
	height:2em;
	width:30%;
	background-color:#C6FFFB;
	border:none;
	outline:none;
}
#login:hover{
	cursor:pointer;
}
input[type="password"],input[type="text"]{
	float:right;
}
.chat-login > div{
	height:2em;
}
label{
	width:8em;
	float:left;
}
textarea{
	padding:1em;
	position:absolute;
	top:20px;
	bottom:20px;
	left:20px;
	width:calc(100% - 180px);
	border-radius:10px;
	height: calc(100% - 65px);
}
textarea:focus{
	outline:none;
}

.App{
	width:1024px;
	margin:auto;
}
body{
background-color:#D0E8D4;
}
